@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Poppins:wght@100&display=swap');
*{
  display: grid;
  justify-items: center;
}
img{
  width: 100px;
  height: 100px;
  margin-top: 5%;
}
h3{
  margin-top: 30%;
  font-size: 240%;
  font-weight: bolder;
}
h1{
  font-size: 110px;
  font-family: 'Handlee', cursive;
}
.container{
  height: 50px;
}
