@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
  justify-items: center;
}
.containerNotes{
  display: grid;
}
.logout{
  margin-left: 80%;
  margin-top: 4vh;
  height: 80px;
  width: 80px;
}

h2{
  text-align: center;
  justify-self: end;
  align-self: center;
  font-size: 42px;
  margin-top: 1%;
}

.newNoteButton{
  position: relative;
  margin-left: 80%;
  margin-top:60%;
}

.row{
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}
.nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 110%;
}
.logout{
  height: 80px;
  width: 80px;
  justify-self: end;
}
.containerButtonAdd{
  display: grid;
  width: 110%;
}
.newNoteButton{
  justify-self: end;
}
.title{
  font-size: 23px;
  display: flex;
  justify-content: center;
}
.icons{
  display: flex;
  justify-content: end;
  margin: 2%;
}
h5{
  font-size: 18px;
  margin-left: 3%;
  font-family: 'Poppins', sans-serif;
}
