<div class="container">
  <div class="nav">
    <h2>#notiks</h2>
    <img class="logout" src="../../../assets/img/logout.svg" alt="logout" (click)="signOut()">
  </div>
   <div class="containerNotes">
    <div class="row">
      <div class="col s2 m6" *ngFor="let unitNote of listNotes">
        <div class="hoverable">
          <div class="card grey lighten-4">
            <div class=" black-text">
              <h2 class="title">{{unitNote.title}}</h2>
              <h5>{{unitNote.note}}</h5>
            </div>
            <div class="icons">
              <i class="material-icons" (click)="editeNote(unitNote)">edit</i>
              <i class="material-icons" (click)="onClickDelete(unitNote)">delete</i>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
   <div class="containerButtonAdd">
    <a class="btn-floating btn-large waves-effect waves-light grey newNoteButton" ><i class="material-icons" (click)="newNotes()">add</i></a>
  </div>
</div>






<div *ngIf="img" >
  <img src="https://img.freepik.com/vector-gratis/diseno-colorido-bloc-notas-notas_23-2148695099.jpg?w=740" alt="Logo">
</div>
